@model ComicChallenge.Models.ComicBook

<h1>@Model.ComicTitle</h1>

<h2>Episode @Model.EpisodeNumber</h2>

<h3>@Model.EpisodeTitle</h3>

@{
    var characters = Model.Characters.Select(p => p.Name).ToArray();
    var charactersString = String.Join(", ", characters);
    <p><strong>Starring: </strong> @charactersString</p>
}

<br />
@Html.ActionLink("Back to All Comics", "Index")